:root {
  --primary-text-color: #555555;
  --primary-accent-color: #303030;
  --another-tittle-color: #ffffff;
  --special-color: #9da4bd;
  --text-hover: #ff6c00;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  padding: 0;
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
}

/* Header */

.header {
}

.main-nav {
  display: flex;
  align-items: center;
  background-color: black;
}
.header-logo {
}
.header-nav {
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.link {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--another-tittle-color);
}
.header-item:not(:last-child) {
  margin-right: 40px;
}
.link:hover,
.link:focus .header-tel:focus,
.header-tel:hover {
  color: var(--text-hover);
}
.header-tel {
  display: block;
  margin-left: 319px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--another-tittle-color);
  text-decoration: none;
}
.button {
  font-family: 'Open Sans';
  font-style: normal;
  display: block;
  font-family: inherit;
  margin-left: auto;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--another-tittle-color);
  border: 1px solid var(--text-hover);
  border-radius: 25px;
  background: rgba(25, 28, 38, 0.2);
  text-transform: uppercase;
}

/* Hero */
.social-list {
}

/* .flex-hero {
  padding-bottom: 140px;
} */
.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  color: var(--primary-accent-color);
  text-decoration: none;
  letter-spacing: 0.2em;
  /* transform: rotate(-89.83deg); */
}

.social-link:hover,
.social-link:focus {
  color: var(--text-hover);
}

#about {
  background-color: tomato;
}
.hero-content {
  padding: 208px 452px 206px 189px;
}
.hero-salon {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  color: var(--special-color);
  letter-spacing: 0.1em;
}
.hero-title {
  margin-top: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  /* color: var(--another-tittle-color); */
}
.hero-paragraf {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

/* Photo */
.flex-photo-list {
  display: flex;
  padding-top: 139px;
  background-color: aqua;
}

.photo-list {
  display: flex;
  background-color: tomato;
}

.photo-item + .photo-item {
  margin-left: 30px;
}

/* about barbershop */
.flex-about {
  margin-left: 64px;
}
.about {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: var(--primary-accent-color);
}
.about-title {
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.about-paragraf-one {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
}
.about-paragraf-two {
  width: 500px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.02em;
}

.button-two {
  display: block;
  padding: 12px 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  /* border: 1px solid #ff6c00; */
  border-radius: 25px;
}

/* price and service */

#price {
  padding-top: 101px;
  padding-bottom: 130px;
}

.flex-price-paragraf {
  display: flex;
  margin-bottom: 50px;
  background-color: teal;
}

.price-paragraf {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: var(--special-color);
}
.price-title {
  margin-bottom: 44px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
}
.price-list {
  display: flex;
  flex-direction: column;
  width: 585px;
  margin: 30px 40px;
}
.price-item {
  display: flex;
  justify-content: space-between;
}

.paragraf,
.price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--special-color);
}

.button-white-two {
  margin: 0 auto;
  display: block;
  padding: 12px 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

/* Service */

/* .flex-service {
  padding-top: 141px;
  padding-bottom: 137px;
} */

.service-list {
  margin-left: 100px;
  margin-right: 75px;
  background-color: blue;
}

.flex-service {
  display: flex;
}

.flex-item {
  display: flex;
}

.flex-item .service-item + .service-item {
  margin-top: 25px;
  margin-left: 30px;
}

.service-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px 20px;
}

.service-number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  /* text-align: center; */
}
.service-paragraf {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
}

/* best barber */

.flex-best {
  margin-left: 56px;
  margin-right: 100px;
  background-color: aqua;
}

.bestbarber-paragraf {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: var(--primary-accent-color);
}
.bestbarber-title {
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: var(--primary-accent-color);
}
.bestbarber-paragra-two {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  max-width: 500px;
}

/* Masters */
.master-paragraf {
}
.master-title {
}
.master-list {
}
.master-item {
}
.name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  /* text-align: center; */
  letter-spacing: 0.02em;
}
.master-srvice {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  /* text-align: center; */
  letter-spacing: 0.02em;
  color: var(--text-hover);
}

/* Galery */
.galery-paragraf {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
  color: var(--primary-accent-color);
}
.galery-list {
}
.galery-item {
}

.online {
  /* font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.2;
letter-spacing: 0.05em;
color: var(--another-tittle-color); */
}
.contact {
  /* font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.2;
letter-spacing: 0.05em;
color: var(--another-tittle-color); */
}

/* address */
.address-list {
}
.address-item {
}
.address {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--special-color);
  text-decoration: none;
}
.address-tel {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--special-color);
  text-decoration: none;
}
.address-mail {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--special-color);
}

/* Time work */
.work {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  /* color: var(--another-tittle-color); */
}
.work-time {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--special-color);
}

/* Footer */
.footer-logo {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--special-color);
}
.foeter-list {
}
.footer-item {
}
.social {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: var(--primary-accent-color);
}

.social:hover,
.social:focus {
  color: var(--text-hover);
}
